.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: fade infinite 5s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
p {
  color: #795548;
  animation: altfade infinite 5s linear;
  font-family: ui-monospace;
}



@keyframes fade {
  0% {
    opacity:0.3;
  }
  50%{
    opacity:1;
  }
  100% {
   opacity:0.3;
  }
}
@keyframes altfade {
  0% {
    opacity:0.8;
  }
  50%{
    opacity:0;
  }
  100% {
   opacity:0.8;
  }
}